* {
    margin: 0;
    padding: 0;
}
/*SETTING COLOR VARIABLES*/
:root {
    --primary-color: #38b09d;
    --secondary-color: #28282b;
}

body {
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}
/*ADDING CSS TO THE HEADER SECTION*/
header {
    background-color: var(--secondary-color);
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    font-size: 48px;
    color: var(--primary-color);
    margin: 0;
    display: inline;
}

header a {
    color: var(--primary-color);
    text-decoration: none;
}

header nav {
    float: right;
    margin: 6px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-size: 36px;
    border-bottom: 2px solid var(--primary-color);
}

header nav ul li a:hover {
    color: var(--secondary-color);
    background-color: var(--primary-color);
}
/*ADDING CSS TO HERO SECTION*/
.hero {
    background-image: url("../assets/images/hero.jpeg");
    height: 200px;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    align-items: flex-start;
}

.avatar {
  
    position: absolute;
    display: flex;
    justify-content: flex-start;
    left: 100px;
    top: 101px;

}

.avatar img {
    max-width: 300px;
    max-height: 300px;
    border: 2px solid var(--secondary-color);
    border-radius: 50px;
    display: flex;
    justify-content: flex-start;

}

section {
    padding: 60px;
}

.hero-subtitle {
    color: var(--primary-color);
    font-size: 30px;
    float: right;
    background-color: var(--secondary-color);
    padding: 10px;
    position: relative;
    top: 50px;
}

/*ADDING CSS TO THE TITLES AND ABOUT ME TEXT*/
.body-titles {
    font-size: 50px;
    color: var(--primary-color);
    margin: 0 auto;
    width: 30%;
    border-bottom: 3px solid var(--primary-color);
    text-align: center;
    padding-bottom: 10px;
    
   
}


.bodycontent {
    font-size: 20px;
    color: var(--secondary-color);
    border-color: var(--primary-color);
    padding-top: 20px;
    padding-left: 30px;
    position: relative;
    text-align: center;
    
}

/*ADDING CSS TO THE CONTACT ME SECTION*/
.contact-links {
   
    text-align: center;
    position: relative;
    top: 10px;
    margin-right: auto;
    margin-left: auto;
   
   
   
}

.contact-links ul li {
    display: inline;
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   

}

.contact-links ul li p {
    color: var(--secondary-color);
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    border: 3px solid var(--primary-color);
    border-radius: 10px;
    display: inline;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
   
}

.contact-links ul li p:hover {
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

.contact-links ul li a {
    text-decoration: none;
    color: var(--secondary-color);
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    border: 3px solid var(--primary-color);
    border-radius: 10px;
    display: inline;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
  
}

.contact-links ul li a:hover {
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

/*ADDING CSS TO THE WORK SECTION*/

.run-buddy {
    
    padding-top: 20px;
}

.run-buddy img {
   
    border: solid 3px var(--primary-color);
    border-radius: 10px;
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
   
    
}

.placeholder1 {
    padding-top: 20px;

}

.placeholder1 img {
    border: solid 3px var(--primary-color);
    border-radius: 10px;
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.placeholder2 {
    padding-top: 20px;
}

.placeholder2 img {
    border: solid 3px var(--primary-color);
    border-radius: 10px;
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*ADDING PSEUDO ELEMENTS FOR HOVER HERE*/

.run-buddy img:hover {
    opacity: 0.5;

}

.placeholder1 img:hover {
    opacity: 0.5;
}

.placeholder2 img:hover {
    opacity: 0.5;
}

/*Adding mobile friendly css here for screen sizes less than 1175px */
@media screen and (max-width: 1175px) {
    .contact-links {
        justify-content: center;
        flex-direction: column;
        flex: 1 100%;
        
    
    }

    .body-content p {
        font-size: 10px;
    }

    .avatar {
        justify-content: flex-start;
        margin-top: 55px;
        width: 100%;
      
    }

    

    
}




